{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shakarim AI Check</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    
</head>
<body class="gradient-bg min-h-screen">
    <header class="container mx-auto px-4 py-6">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <div class="text-white font-bold text-2xl logo-pulse">
                    <a href="{% url 'index' %}"><span class="text-blue-400">Shakarim</span> AI Check</a>
                </div>
            </div>
            <nav class="hidden md:flex space-x-6">
                <a href="{% url 'index' %}" class="text-white hover:text-blue-300 transition">Главная</a>
                <a href="{% url 'instructions' %}" class="text-white hover:text-blue-300 transition">Инструкция</a>
                <a href="{% url 'contacts' %}" class="text-white hover:text-blue-300 transition">Контакты</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="text-white hover:text-blue-300 transition">Дашборд</a>
                    <a href="{% url 'logout' %}" class="text-white hover:text-blue-300 transition">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="text-white hover:text-blue-300 transition">Войти</a>
                {% endif %}
            </nav>
            <div class="md:hidden">
                <button class="text-white">
                    <i class="fas fa-bars text-xl"></i>
                </button>
            </div>
        </div>
    </header>
    {% block main %}
    {% endblock main %}


    <footer class="container mx-auto px-4 py-8 mt-2">
        <div class=" md:flex-row justify-between items-center glass-card p-6">
            <div class="text-center text-gray-300 text-sm items-center">
                <p>© 2025 Shakarim AI Check, Shakarim University</p>
                <p>Разработано в рамках программы AI SANA</p>
            </div>
        </div>
    </footer>
</body>
</html>