__pycache__/
*.py[cod]
*.pyc

migrations/
*/migrations/

venv/
.env/
*.env

db.sqlite3
*.sqlite3

*.json

media/
media/*

static/
static/*

!ai_check/static/
!ai_check/static/**

!index/static/
!index/static/**

logs/
logs/*

shakarim_ai_check/gemini_config.py

tmp/
tmp/*